{% extends "base.html" %}
{% block content %}
<div class="container">


<div class="jumbotron">
  <h1>{{ post.title }}</h1>
  <h2>Zveřejněno uživatelem: {{ post.author.username }}</h2>
  <h3>Dne: {{post.date.strftime('%B %d, %Y') }}</h3>
  <p>{{ post.destination }}</p>
  <p>Termín konání je: {{ post.date_of_activity }}</p>
  <p>Za cenu: {{ post.price }} kč</p>
  <p>Pro zjištění kontaktu na uživatele se prosím přihlašte nebo registrujte</p>

{% if post.author == current_user %}
<div class="">
  <a class="btn btn-secondary" href="{{ url_for('zajezdy.update',zajezd_id=post.id) }}">Upravit</a>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Smazat</button>
</div>
{% endif %}
<br>
{% if current_user.is_authenticated and post.author != current_user %}
<a class="btn btn-secondary" href="{{ url_for('zajezdy.view_email',zajezd_id=post.id) }}">Zobrazit kontakt</a>
{% endif %}
</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="del_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Smazat zájezd</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jste si jistí, že chcete tento zájezd smazat?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>

        <form action="{{ url_for('zajezdy.delete_post', zajezd_id=post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>








{% endblock %}
