{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <div class="jumbotron">
    <div align="center">
      <h1>Vítejte {{user.username}}</h1>
  <!-- IDEA: user je z user=user z views u zákazníka -->
  <img align="center" src="{{url_for('static',filename='profile_pics/'+user.profile_image)}}" alt="profilový obrázek">


    </div>

  </div>



{% for zajezd in zajezdy.items %}
    <h2><a href="{{url_for('zajezdy.zajezd',zajezd_id=zajezd.id) }}">{{zajezd.title}}</a></h2>
    nabídnuto: <a href="{{url_for('users.user_posts',username=post.author.username)}}">{{zajezd.author.username}}</a>
    <p class="text-muted">Dne: {{zajezd.date.strftime("%Y-%m-%d")}}</p>
    <br>
    <p>
    {{zajezd.price}}
    <br>
    {{zajezd.destination}}
    <br>
    {{zajezd.date_of_activity}}
    <br>
    </p>
{% endfor %}

</div>

<nav aria-label='Page Navigation example'>
  <ul class="pagination">
    {% for page_num in zajezdy.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
      {% if zajezdy.page == page_num %}
        <li class="page-item-disabled">
        <a class="page-link" href="{{url_for('users.user_zajezdy',username=user.username,page=page_num)}}">{{ page_num}}</a>
        </li>
      {% else %}
        <li class="page-item">
        <a class="page-link" href="{{url_for('users.user_zajezdy',username=user.username,page=page_num)}}">{{ page_num}}</a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>

</nav>

{% endblock %}
